.ul,
.copyrights {
    width: 980px;
    height: 40px;
    line-height: 40px;
}

.ul,
.copyrights,
.box.style {
    background-color: rgb(240, 240, 240);
}

.ul a,
.box.style h2 {
    color: blue;
}

.container {
    background-image: url('../images/banner.png');
    width: 980px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.container img {
    width: 200px;
    height: 150px;
    vertical-align: center;
}

.ul a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px 20px;
    text-align: center;
}

.box {
    display: inline-block;
    vertical-align: top;
}

.box.style {
    width: 600px;
    height: 300px;
    color: rgb(20, 20, 19);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
}

.box.style h1,
.box.style h2,
.box.style p {
    font-family: sans-serif;
}

.box.style h1 {
    font-size: 34px;
    color: rgba(255, 0, 0);
}

.box.style h2 {
    font-family: sans-serif;
    font-size: 26px;
}

.box.style p {
    font-size: 18px;
    color: black;
}

.box.image {
    background-image: url('../images/amit.jpg');
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 0px;
}

.copyrights {
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
}